<!doctype html>
<html>
     <div><h3><a href="/blog">Main Blog Page</a> &nbsp; &nbsp;<a href="/newpost">Add a Blog Entry</a></h3></div>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red; 
                font-style: italic;  
            }
            textarea {
            margin: 10px 0;
            width: 230px;
            height: 100px;
            }
            .button {
                background-color :aqua;
            }
        </style>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>